<main>
    <button id="botaocadastro">Já é cadastrado? Faça seu login</button>
    <button id="idsenha">Espaço para login e senha</button>
    <button id="botaonaocadastro">Ainda não é cadastrada(o)? Faça seu cadastro abaixo:</button>


    <button type="button" class="btn btn-primary" routerLink="/inserir-usuario">Inserir usuário</button>
    <button type="button" class="btn btn-secondary">Editar usuário</button>
    <button type="button" class="btn btn-success">Listar usuário</button>

</main>
