p {
    color: crimson;
}

#apresentacao{
  background-color: #f1f0f1;
  height: 200px;
}

#atividades{
  background-color: #286141;
  height: 200px;
}

#fotos-hotel{
  background-color: #ff7809;
}



